{% extends 'base.html.twig' %}

{% block headline 'Configuration'|trans({}, 'ImaticConfigBundle') %}

{% block action %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {% if groups|length > 1 %}
        <ul class="nav nav-tabs">
            {% for name in groups|keys %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab" href="#{{ name }}">{{ name|trans({}, 'configuration_group') }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for name, keys in groups %}
                <div class="tab-pane fade pt-4 {% if loop.first %}show active{% endif %}" id="{{ name }}">
                    {% for key in keys %}
                        {{ form_row(form[key]) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}
