{% extends '::base.html.twig' %}

{% block action %}
    <form method="POST" {{ form_enctype(form) }} novalidate>
        {% block errors %}
            {% if not form.vars.valid %}
                <p class="alert alert-danger">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    {{ 'form.errors'|trans({}, 'ImaticConfigBundle') }}
                </p>
            {% endif %}
        {% endblock %}
        {% block nav %}
            <ul class="nav nav-tabs">
                {% for name in groups|keys %}
                    {% block link %}
                        <li class="{{ {active: loop.first}|imatic_class }}">
                            <a href="#{{ name|imatic_slug }}" data-toggle="tab">
                                {{ name|trans({}, 'configuration_group') }}
                            </a>
                        </li>
                    {% endblock %}
                {% endfor %}
            </ul>
        {% endblock %}
        {% block content %}
            <div class="tab-content">
                {% for name, keys in groups %}
                    {% block tabs %}
                        <div id="{{ name|imatic_slug }}" class="tab-pane {{ {active: loop.first}|imatic_class }}">
                            {% for key in keys %}
                                {% block tab %}
                                    {{ form_row(form[key]) }}
                                {% endblock %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}
        {% block button %}
            <div>
                <button class="btn btn-primary">{{ 'form.submit'|trans({}, 'ImaticConfigBundle') }}</button>
            </div>
        {% endblock %}
        {{ form_rest(form) }}
    </form>
{% endblock %}